@font-face {
    font-family: 'SDSwagger';
    src: url('SDSwaggerTTF.eot');
    src: url('SDSwaggerTTF.eot?#iefix') format('embedded-opentype'),
        url('SDSwaggerTTF.woff2') format('woff2'),
        url('SDSwaggerTTF.woff') format('woff'),
        url('SDSwaggerTTF.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

